<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

    <targets>
        <!-- Лог информации -->
        <target xsi:type="File" name="infoLog" 
                fileName="${basedir}/logs/info-${shortdate}.log"
                layout="===================================================${newline}${longdate} | ${uppercase:${level}} | ${logger} | ${message} ${exception}" />

        <!-- Лог отладки -->
        <target xsi:type="File" name="debugLog" 
                fileName="${basedir}/logs/debug-${shortdate}.log"
                layout="===================================================${newline}${longdate} | ${uppercase:${level}} | ${logger} | ${message} ${exception}" />

        <!-- Лог ошибок -->
        <target xsi:type="File" name="errorLog" 
                fileName="${basedir}/logs/error-${shortdate}.log"
                layout="===================================================${newline}${longdate} | ${uppercase:${level}} | ${logger} | ${message} ${exception}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="infoLog" />
        <logger name="*" minlevel="Debug" writeTo="debugLog" />
        <logger name="*" minlevel="Error" writeTo="errorLog" />
    </rules>
</nlog>
